<div id="message-out">
   <% @texts.limit(5).each do |text| %>
      <strong><%= User.find(text.sender_id).name %>: </strong>
      <p><%= text.content.capitalize %></p>
      <p class="small">Sent to: <%= User.find(text.recepient_id).name %> <%= time_ago_in_words(text.created_at) %>  ago</p>
   <% end %>
</div>
